
/* Your CSS Code here. */
table{
	border-collapse:collapse;
	width:100%
}
thead{
	background:firebrick;
	color:white;
}
.row1{
	background-color:lightcoral;
	color:white;
}
.row2{
	background-color:#F2DCDB;
}
.row3{
	background-color:lighten;
}